<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

<!-- Background & animion & navbar & title -->
  <div class="container-fluid">
<!-- header -->
   <header>
<!-- navbar -->
     <nav>
        <ul>
           <li><a routerLink="/"  style="font-style:italic;">Home</a></li>
            <li><a routerLink="/about"  style="font-style:italic;">About</a></li>
            <li><a routerLink="/samples"style="font-style:italic;" >Samples</a></li>
            <li><a routerLink="/contact" style="font-style:italic;">Contact</a></li>
         </ul>
       </nav>
     