<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-dark">

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="samples">Samples</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="samples">Samples</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="samples">Samples</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 item text">
                    <h3>MyportFolio.com</h3>
                    <!-- <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus.</p> -->
                </div>
                <div class="col item social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google"></i></a></div>
            </div>
            <p class="copyright">MyportFolio.com © 2021</p>
        </div>
    </footer>
</div>