 <div class="background">
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  
  <h2 class="services" style="font-style:italic; margin-top: 19%;">Services</h2>
  <br>
  <br>
 
	  
	  <div class="container">
  <div class="flip-card">
	
	<div class="flip-card-inner">
	  <div class="flip-card-front">
		<h3 class="services" style="font-style:italic;"><br><marquee>Reach For</marquee></h3>
	  </div>
	  <div class="flip-card-back">
		<br>
		<br>
		<p style="font-style:italic;"><marquee>Front end designing </marquee></p>
		<p style="font-style:italic;"><marquee>Server side applications</marquee></p>
		<p style="font-style:italic;"><marquee>Back end designing</marquee></p>
	  </div>
	</div>
  </div>
</div>
  <div class="cube"></div>
 <div class="cube"></div>
 <div class="cube"></div>
</div> 

